*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: serif;
}

/* TOP-MENU */
h1{
  margin:0;
}

#section-1{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 747px;
  display: block;
  background-image: url("Images/background20.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#section-1 .top-menu{
  height: 75px;
  width: 100%;
  position: fixed;
  display: flex;
  text-align: center;
  padding-top: 1.5%;
  background:#fff;
}
#section-1 .top-menu .logo{
  width:36%;
  display: flex;
  flex-grow: 1;
  text-align: center;
}
#section-1 .top-menu .logo .wing-icon{
  width:9%;
  display: inline-block;
  padding-right: 5%;
}
#section-1 .top-menu .logo .wings-tm{
  width:90%;
  display: inline-block;
  margin:0;
}
#section-1 .top-menu .logo .wings-tm h1{
  font-family: 'Oswald', sans-serif;
  /* font-size: 1.5em; */
}
#section-1 .top-menu .logo .wings-tm img{
  bottom: 19px;
  display: inline-block;
  width: 70px;
  height: 70px;
  position: relative;
  top: px;
  left: 8px;
  vertical-align: top;
}
#section-1 .top-menu .logo .wings-tm .tm{
  display: inline-block;
  font-size: 14px;
}
#section-1 .top-menu .nav-menu-container{
  width:60%;
  display: inline-block;
  text-align: center;
}
#section-1 .top-menu .nav-menu-container .nav-menu{
  width:100%;
  display: inline-block;
  margin: 0 auto;
  font-weight:300;
}
#section-1 .top-menu .nav-menu-container .nav-menu li a{
  text-decoration: none;
  cursor: pointer;
  color:black;
  font-family: 'Barlow', sans-serif;
}
#section-1 .top-menu .nav-menu-container .nav-menu li:nth-child(1){
  display: inline-block;
  margin-left: 4%;
}
#section-1 .top-menu .nav-menu-container .nav-menu li:nth-child(1):hover{
}
#section-1 .top-menu .nav-menu-container .nav-menu li:nth-child(2){
  display: inline-block;
  margin-left: 4%;
}
#section-1 .top-menu .nav-menu-container .nav-menu li:nth-child(3){
  display: inline-block;
  margin-left: 4%;
  margin-right: 2%;
}
#section-1 .top-menu .nav-menu-container .nav-menu li:nth-child(4){
  display: inline-block;
  padding: 1%;
  border-radius: 121px 121px 121px 121px;
  -moz-border-radius: 121px 121px 121px 121px;
  -webkit-border-radius: 121px 121px 121px 121px;
  border: 2px solid #000000;
}
/* //////////////menu for mobile////////// */
.navbar{
  /* background-color: #3b5998; */
  overflow: hidden;

}
.navbar a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}
.navbar ul{
  margin: 8px 0 0 0;
  list-style: none;
}
.navbar a:hover{
  background-color: #f2f2f2;
  color: #000;
}
.side-nav{
  display: block;
  height:100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top:0;
  right: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3;
}
.side-nav a:hover{
  color: #fff;
}
.side-nav .btn-close{
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36;
  margin-left: 50px;
}
#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow: hidden;
  width: 100%;
}
/* //////////////////////////////// */
#section-1 .headline-1{
  display: block;
  padding-top: 3%;
  text-align: center;
  color: black;
}
#section-1 .headline-1 h1{
}
#section-1 .headline-1 h3 span{
  font-weight: bold;
}
#section-1 .section-1-image{
  width: 100%;
}
#section-1 .section-1-image img{
  position: relative;
  z-index: -1;
  width: 100%;
  min-height: 909px;
  height: auto;
  top: -370px;
}
/* ////////////section1.5////////////// */

#section-1-5{
  background-color: #f47321;
  height: 720px;
  overflow: auto;
}
#section-1-5 .responsive-section2{
  width: %;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#section-1-5 .responsive-section2 .text-1 p{
  color: #4c4c4c;
  font-family: 'Slabo 27px', serif;
  padding: 0;
}
#section-1-5 .responsive-section2 .text-2 h1{
  color: white;
  font-family: 'Sigmar One', serif;
  font-weight: 200;
  font-size: 3em;
}
#section-1-5 .responsive-section2 .text-3 h3{
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 1.5em;
}
#section-1-5  .responsive-section2 .text-4 p{
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 1em;
}
#section-1-5  .responsive-section2 .button a{
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 5%;
  background: white;
  color: #f47321;
  border-radius: 147px 147px 147px 147px;
  -moz-border-radius: 147px 147px 147px 147px;
  -webkit-border-radius: 147px 147px 147px 147px;
  border: 2px solid #f47321;
  font-family: 'Abel', sans-serif;
}
#section-1-5  .responsive-section2 .button :hover a{
  background: #f0640c;
  color: #fff;
  border: 2px solid #f47321;
  cursor: pointer;
}
#section-1-5 .responsive-section2 .image-container{
  position: relative;
  bottom:10%;
  right:26%;
}
#section-1-5  .responsive-section2 img{
  height: auto;
  width: 150%;
}
















/* ////////////section1.5////////////// */
#section-2{
  height: 747px;
  background-color: beige;
}
#section-2 .grid-container{
  display: grid;
  height: 747px;
  grid-template-columns: 50% 10% 10% 10% 10% 10%;
  grid-template-rows: 1FR 1FR 1FR 1FR 1FR  ;
}
#section-2 .grid-container :nth-child(-n+10) {
  text-align: center;
}
#section-2 .grid-container .grid-item-1{
  background-color: #f47321;
  grid-row-start: 1;
  grid-row-end: 7;
  align-content: center;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content .text-1 p{
  color: #4c4c4c;
  font-family: 'Slabo 27px', serif;
  padding: 0;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content .text-2 h1{
  color: white;
  font-family: 'Sigmar One', serif;
  font-weight: 200;
  font-size: 3em;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content .text-3 h3{
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 1.5em;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content .text-4 p{
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 1em;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content .grid-item-1-button a{
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 5%;
  background: white;
  color: #f47321;
  border-radius: 147px 147px 147px 147px;
  -moz-border-radius: 147px 147px 147px 147px;
  -webkit-border-radius: 147px 147px 147px 147px;
  border: 2px solid #f47321;
  font-family: 'Abel', sans-serif;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content .grid-item-1-button :hover a{
  background: #f0640c;
  color: #fff;
  border: 2px solid #f47321;
  cursor: pointer;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content .image-container{
  position: relative;
  bottom:10%;
  right:26%;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content img{
  height: auto;
  width: 150%;
}
#section-2 .grid-container .grid-item-2{
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}
#section-2 .grid-container .grid-item-3{
  grid-row-start: 1;
  grid-row-end: 3;
}
#section-2 .grid-container .grid-item-4{
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 10;
}
#section-2 .grid-container .grid-item-5{
  grid-column-start: 6;
  grid-row-start: 3;
  grid-row-end: 5;
}
#section-2 .grid-container .grid-item-6{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
}
#section-2 .grid-container .grid-item-7{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
}
#section-2 .grid-container .grid-item-8{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
}
#section-2 .grid-container .grid-item-9{
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 10;
}

#section-3{
  width: 100%;
  height: 585px;
  /* overflow: auto; */
}
#section-3 .div-1{
  width: 50%;
  height: 585px;
  display: inline-block;
  position: relative;
  background-color: #FDFEFF;
}
#section-3 .div-1 .content{
  position: relative;
  z-index: 1;
  width: 60%;
  margin: 22% 0 0 12%;
}
#section-3 .div-1 .new{
  width: 50px;
  background-color: #D30606;
  color: white;
}
#section-3 .div-1 .new h4{
  padding: 20% 30% 20% 15%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Barlow', sans-serif;
}
#section-3 .div-1 .header h1{
  font-size: 4em;
  font-family: 'Oswald', sans-serif;
}
#section-3 .div-1 .text p{
  font-family: 'Barlow', sans-serif;
}
#section-3 .div-1 .link a{
  font-family: 'Barlow', sans-serif;
  color: black;
  font-weight: 900;
}
#section-3 .div-1 .link p :hover{
  color: red;
}
#section-3 .div-1 .image{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: auto;
  top: 80px;
  left: 300px;
}
#section-3 .div-1 .image img{
  width: 450px;
  height: auto;
  overflow: auto;
}
#section-3 .div-2{
  width: 50%;
  display: inline-block;
  position: relative;
  z-index: 1;
  height: 585px;
  float: right;
}
#section-3 .div-2 .content{
  position: relative;
  z-index: 1;
  width: 60%;
  color: white;
  margin: auto;
  padding-top: 20%;
}
#section-3 .div-2 .content .fire-image{
  display: block;
  width: 100%;
  text-align: center;
}
#section-3 .div-2 .content .fire-image img{
  width: 10%;
  height: auto;
}
/* #section-3 .div-2 .content .flame-background{
  position: absolute;
  z-index: -1;
  top: 10px;
}
#section-3 .div-2 .content .flame-background img{
  width: 350px;
  height: auto;
} */
#section-3 .div-2 .content .header h1{
  font-size: 4em;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
#section-3 .div-2 .content .text p{
  text-align: center;
  font-family: 'Barlow', sans-serif;
}
#section-3 .div-2 .content .link{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}
#section-3 .div-2 .content .link a{
  text-decoration: none;
}
#section-3 .div-2 .content .link h3{
  text-decoration: none;
  color: white;
  font-weight: 100;
  margin: 0;
  padding: 5% 6%;
  border: solid white .5px;
  font-family: 'Barlow', sans-serif;
}
/* ////////SECTION 3 DIV 2 LINK HOVER///////// */
#section-3 .div-2 .content .link a :HOVER{
  color: #D30606;
  border-color: #D30606;
  overflow: auto;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-property: color;
  transition-property: white;
  -webkit-transition-duration: 1s;
  transition-duration: 3s;
}
#map{
  height: 747px;
  width: 100%;
}
#section-5{
  width: 100%;
  height: 350px;
  background-color: #ECECEC;
}
#section-5 .top-section{
  width:35%;
  text-align: center;
  margin: 0 auto;
  padding-top: 2.5%;
}
#section-5 .book-table h1{
  font-family: 'Leckerli One', cursive;
  font-size: 2.2em;
  color: #f47321;
  text-align: center;
}
#section-5 .book-table h1 span{
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  color: #2f2f2f;
}
#section-5 .hours-of-opp p{
  font-family: 'Barlow', sans-serif;
  color: #2f2f2f;
  text-align: center;
}
#section-5 .reservation{
  width: 100%;
}
#section-5 .reservation .reservation-form{
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}
#section-5 .reservation .reservation-form input{
  width: 22%;
  display: inline-block;
  padding: 0;
  margin: 3% 0 0 2.1%;
  float: left;
  height: 20px;
  border: 2.3px solid #e7e7e7;
  color: #adadad;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: 'Abel', sans-serif;
}
#section-5 .reservation .reservation-form input:nth-child(4)  {
  color: #2f2f2f;
  background-color: #f47321;
  font-weight: bold;
  cursor: pointer;
}

/* ////////////MEDIA QUERIES/////////// */
@media (min-width:496px) {
  .navbar{
    display: none;
  }
  #section-1 .top-menu .map-marker{
    width: 0;
    height: 0;
  }
  #section-1 .mobile-icon-list{
    display: none;
  }
}
@media (max-width:496px) {
  #section-1{
    height: 450px;
  }
  #section-1 .top-menu{
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 50px;
    text-align: top;
    padding-top: 3.5%;
    position: fixed;
  }
  #section-1 .top-menu .logo{
    display: none;
  }
  #section-1 .top-menu .mobile-logo{
    display: inline-block;
    position: relative;
    top: -13px;
    right: 14%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }
  #section-1 .top-menu .mobile-logo img{
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
  }
  #section-1 .top-menu .navbar .open-slide svg{
    position: relative;
    top:-10px;
    color:#fff;
  }
  #section-1 .top-menu .nav-menu-container{
    display: none;
  }
  #section-1 .top-menu .navbar {
    position: relative;
    bottom: 15%;
  }
  #section-1 .top-menu .navbar a{

  }
  #section-1 .top-menu .logo .wings-tm{
    margin: 2% 0 0 2%;
  }

#section-a .top-menu .mobile-icon-list{
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
#section-1 ul{
  display: inline-block;
  list-style: none;
  border-right: .3px solid;
  margin: 0;
  padding: 0 10px 0 10px;
  font-size: 12px;
  font-weight: 100;
  color: #f2f2f2;
  cursor: pointer;
}
#section-1 ul li a{
  font-family: 'Abel', sans-serif;
  color: #f2f2f2;
}
  #section-1-5 .responsive-section2{
    width: 75%;
  }
}
@media (min-width:700px) {
  #section-1-5{
    display: none;
  }
  #section-1 .top-menu .mobile-logo{
    display: inline-block;
    width: 0;
    height: 0;
  }
  #section-1 .top-menu .map-marker{
    width: 0;
    height: 0;
  }

}
@media (max-width: 700px) {
  #section-1 .top-menu .logo{
    width: 43%;
  }
  #section-1 .top-menu .mobile-logo{
    display: inline-block;
    width: 0;
    height: 0;
  }
  #section-1 .top-menu .logo .wings-tm h1{
    height: auto;
    padding: 0;
    float: left;
    font-size: 2em;
    margin: 0 0 5% 4%;
  }
  #section-1 .top-menu .logo .wings-tm img{
    display: none;
  }
  #section-1 .top-menu .nav-menu-container .nav-menu{
  padding: 0;
  font-size: 12px;
  }
  #section-3 .div-1 .image {
    left: 100px;
    overflow: auto;
}
#section-3 .div-2 .content .text p {
  margin: 0;
}
#section-2 /*.grid-container .grid-item-1 .grid-item-1-content .text-2 h1*/{
  /* font-size: 1.5em; */
  display: none;
}
#section-5 .reservation .reservation-form input{
  font-size: .7em;
}
/* ////////grid//////// */
#mobile-grid-container{
  display: grid;
  height: 547px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 1FR 1FR 1FR 1FR 1FR;
}
#mobile-grid-container .mobile-grid-item-2{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
#mobile-grid-container .mobile-grid-item-3{
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
#mobile-grid-container .mobile-grid-item-4{
  grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ;
}
#mobile-grid-container .mobile-grid-item-5{
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
#mobile-grid-container .mobile-grid-item-6{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
#mobile-grid-container .mobile-grid-item-7{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
#mobile-grid-container .mobile-grid-item-8{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
#mobile-grid-container .mobile-grid-item-9{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 5;
}

/* ////////section-3//////// */
#section-3 .div-1{
  width: 100%;
  display: block;
  overflow: hidden;
}
#section-3 .div-2{
  width: 100%;
  display: block;
}
input[type=checkbox]{
  position: absolute;
  top: -9999px;
  left:-9999px;
  background: none;
}
input[type=checkbox]:focus{
  background: none;
}
label{
  float:right;
  padding: 8px 0px;
  display: inline-block;
  cursor: pointer;
}
input[type=checkbox]:checked ~ nav{
  display: block;
}
.nav-mobile{
  display: none;
  position: absolute;
  right: 0px;
  top:53px;
  background-color: rgba(255,255,255, 0.09);
  padding: 0px;
  z-index: 99;
}
.nav-mobile ul{
  width: auto;
}
.nav-mobile ul li{
  float: none;
  padding: 0px;
  width: 100%;
  display: table;
}
.nav-mobile ul li a{
  color:#fff;
  font-size: 15px;
  padding: 10px 20px;
  display: block;
  border-bottom: 1px solid rgba(225,225,225,0.1);
}
.nav-mobile{
  color: white;
  padding-right: 13px;
}
}
