*{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: serif;
}

/* TOP MENU */
h1{
  margin:0;
}

#section-1{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 747px;
  /* overflow: auto; */
  display: block;
  background-color: #FEFFF8;
}
#section-1 .top-menu{
  width: 100%;
  display: flex;
  text-align: center;
  padding-top: 2.5%;
}
#section-1 .top-menu .logo{
  width:36%;
  display: flex;
  flex-grow: 1;
  text-align: center;
}
#section-1 .top-menu .logo .wing-icon{
  width:9%;
  display: inline-block;
  padding-right: 5%;
}
#section-1 .top-menu .logo .wings-tm{
  width:90%;
  display: inline-block;
  margin:0;
}
#section-1 .top-menu .logo .wings-tm img{
  bottom: 19px;
  display: inline-block;
  width: 70px;
  height: 70px;
  position: relative;
  top: px;
  left: 8px;
  vertical-align: top;
}
#section-1 .top-menu .logo .wings-tm .tm{
  display: inline-block;
  font-size: 14px;
}
#section-1 .top-menu .nav-menu-container{
  width:60%;
  display: inline-block;
  text-align: center;
}
#section-1 .top-menu .nav-menu-container .nav-menu{
  width:100%;
  display: inline-block;
}
#section-1 .top-menu .nav-menu-container .nav-menu li a{
  text-decoration: none;
  cursor: pointer;
  color:black;
}
#section-1 .top-menu .nav-menu-container .nav-menu li:nth-child(1){
  display: inline-block;
  margin-left: 4%;
}
#section-1 .top-menu .nav-menu-container .nav-menu li:nth-child(1):hover{
}
#section-1 .top-menu .nav-menu-container .nav-menu li:nth-child(2){
  display: inline-block;
  margin-left: 4%;
}
#section-1 .top-menu .nav-menu-container .nav-menu li:nth-child(3){
  display: inline-block;
  margin-left: 4%;
  margin-right: 2%;
}
#section-1 .top-menu .nav-menu-container .nav-menu li:nth-child(4){
  display: inline-block;
  padding: 1%;
  border-radius: 121px 121px 121px 121px;
  -moz-border-radius: 121px 121px 121px 121px;
  -webkit-border-radius: 121px 121px 121px 121px;
  border: 2px solid #000000;
}
#section-1 .headline-1{
  display: block;
  padding-top: 3%;
  text-align: center;
  color: black;
}
#section-1 .headline-1 h1{
}
#section-1 .headline-1 h3 span{
  font-weight: bold;
}
#section-1 .section-1-image{
  width: 100%;
}
#section-1 .section-1-image img{
  position: relative;
  z-index: -1;
  width: 100%;
  min-height: 909px;
  height: auto;
  top: -370px;
}
#section-2{
  height: 747px;
  background-color: beige;
}
#section-2 .grid-container{
  display: grid;
  height: 747px;
  grid-template-columns: 50% 10% 10% 10% 10% 10%;
  grid-template-rows: 1FR 1FR 1FR 1FR 1FR  ;
}
#section-2 .grid-container :nth-child(-n+10) {
  text-align: center;
}
#section-2 .grid-container .grid-item-1{
  background-color: #f47321;
  grid-row-start: 1;
  grid-row-end: 7;
  align-content: center;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content .text-1 p{
  color: #4c4c4c;
  font-family: 'Slabo 27px', serif;
  padding: 0;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content .text-2 h1{
  color: white;
  font-family: 'Sigmar One', serif;
  font-weight: 200;
  font-size: 3em;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content .text-3 h3{
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 1.5em;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content .text-4 P{
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 1em;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content .grid-item-1-button a{
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 5%;
  background: white;
  color: #f47321;
  border-radius: 147px 147px 147px 147px;
  -moz-border-radius: 147px 147px 147px 147px;
  -webkit-border-radius: 147px 147px 147px 147px;
  border: 2px solid #f47321;
  font-family: 'Abel', sans-serif;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content .grid-item-1-button :hover a{
  background: #f0640c;
  color: #fff;
  border: 2px solid #f47321;
  cursor: pointer;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content .image-container{
  position: relative;
  bottom:10%;
  right:26%;
}
#section-2 .grid-container .grid-item-1 .grid-item-1-content img{
  height: auto;
  width: 150%;
}
#section-2 .grid-container .grid-item-2{
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url("/Users/markking/Desktop/GitHub/wingstateofmind/Images/gridimages/image4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#section-2 .grid-container .grid-item-3{
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url("/Users/markking/Desktop/GitHub/wingstateofmind/Images/gridimages/image1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#section-2 .grid-container .grid-item-4{
grid-column-start: 6;
grid-column-end: 6;
grid-row-start: 5;
grid-row-end: 10;
background-image: url("/Users/markking/Desktop/GitHub/wingstateofmind/Images/gridimages/image10.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
#section-2 .grid-container .grid-item-5{
  grid-column-start: 6;
  grid-row-start: 3;
  grid-row-end: 5;
  background-image: url("/Users/markking/Desktop/GitHub/wingstateofmind/Images/gridimages/image3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#section-2 .grid-container .grid-item-6{
grid-column-start: 2;
grid-column-end: 4;
grid-row-start: 3;
background-image: url("/Users/markking/Desktop/GitHub/wingstateofmind/Images/gridimages/image2.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
#section-2 .grid-container .grid-item-7{
grid-column-start: 4;
grid-column-end: 6;
grid-row-start: 3;
grid-row-end: 5;
background-image: url("/Users/markking/Desktop/GitHub/wingstateofmind/Images/gridimages/image5.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
#section-2 .grid-container .grid-item-8{
grid-column-start: 2;
grid-column-end: 4;
grid-row-start: 4;
background-image: url("/Users/markking/Desktop/GitHub/wingstateofmind/Images/gridimages/image8.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
#section-2 .grid-container .grid-item-9{
grid-column-start: 2;
grid-column-end: 6;
grid-row-start: 5;
grid-row-end: 10;
background-image: url("/Users/markking/Desktop/GitHub/wingstateofmind/Images/gridimages/image9.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}


#section-3{
  display: inline-block;
  height: 920px;
  width: 100%;
  /* background-color: #D05A00; */
}
#section-3 .mild{
  background-image: url("/Users/markking/Desktop/GitHub/wingstateofmind/Images/background3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  -webkit-box-shadow: 3px 4px 8px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 8px -1px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 8px -1px rgba(0,0,0,0.75);
  width: 30%;
  height: 850px;
  margin-right:2.5%;
  margin-left: 1.95%;
  margin-top: 4%;
  overflow: hidden;
}
#section-3 .mild h1{
  font-family: 'Permanent Marker',cursive;
  font-size: 4em;
  text-align: center;
}
#section-3 .hot{
  background-image: url("/Users/markking/Desktop/GitHub/wingstateofmind/Images/background3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  -webkit-box-shadow: 3px 4px 8px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 8px -1px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 8px -1px rgba(0,0,0,0.75);
  width: 30%;
  height: 850px;
  margin-right:2.5%;
  overflow: hidden;
}
#section-3 .hot h1{
  font-family: 'Permanent Marker',cursive;
  font-size: 4em;
  text-align: center;
}
#section-3 .fire{
  background-image: url("/Users/markking/Desktop/GitHub/wingstateofmind/Images/background3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  -webkit-box-shadow: 3px 4px 8px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 8px -1px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 8px -1px rgba(0,0,0,0.75);
  width: 30%;
  height: 850px;
  overflow: hidden;
}
#section-3 .fire h1{
  font-family: 'Permanent Marker',cursive;
  font-size: 4em;
  text-align: center;
}
#section-4{
  height: 747px;
  background-color: #272727;
}
#section-5{
  height: 747px;
  background-color: #ECECEC;
}
#section-6{
  height: 747px;
  background-color: #FEFFF8;
}
.footer{
height: 100px;
}
