/* TOP MENU */
h1{
  margin:0;
}

#section-1{
  width: 100%;
  height: 747px;
  overflow: auto;
  display: block;
  background-color: #FEFFF8;
}
#section-1 .top-menu{
  width: 100%;
  display: flex;
  text-align: center;
  padding-top: 2.5%;
}
#section-1 .top-menu .logo{
  width:36%;
  display: flex;
  flex-grow: 1;
  text-align: center;
}
#section-1 .top-menu .logo .wing-icon{
  width:9%;
  display: inline-block;
  padding-right: 5%;
}
#section-1 .top-menu .logo .wings-tm{
  width:90%;
  display: inline-block;
  margin:0;
}
#section-1 .top-menu .logo .wings-tm img{
  bottom: 19px;
  display: inline-block;
  width: 70px;
  height: 70px;
  position: relative;
  top: px;
  left: 8px;
  vertical-align: top;
}
#section-1 .top-menu .logo .wings-tm .tm{
  display: inline-block;
  font-size: 14px;
}
#section-1 .top-menu .nav-menu-container{
  width:60%;
  display: inline-block;
  text-align: center;
}
#section-1 .top-menu .nav-menu-container .nav-menu{
  width:100%;
  display: inline-block;
}
#section-1 .top-menu .nav-menu-container .nav-menu li a{
  text-decoration: none;
  cursor: pointer;
  color:black;
}
#section-1 .top-menu .nav-menu-container .nav-menu li:nth-child(1){
  display: inline-block;
  padding-left: 4%;
}
#section-1 .top-menu .nav-menu-container .nav-menu li:nth-child(1):hover{
  color: red;
}
#section-1 .top-menu .nav-menu-container .nav-menu li:nth-child(2){
  /* width:20%; */
  display: inline-block;
  padding-left: 4%;
}
#section-1 .top-menu .nav-menu-container .nav-menu li:nth-child(3){
  /* width:20%; */
  display: inline-block;
  padding-left: 4%;
  padding-right: 2%;
}
#section-1 .top-menu .nav-menu-container .nav-menu li:nth-child(4){
  /* width:30%; */
  display: inline-block;
  padding: 1%;
  border-radius: 121px 121px 121px 121px;
  -moz-border-radius: 121px 121px 121px 121px;
  -webkit-border-radius: 121px 121px 121px 121px;
  border: 2px solid #000000;
}
#section-1 .headline-1{
  display: block;
  padding-top: 3%;
  text-align: center;
  color: black;
}
#section-1 .headline-1 h1{
}
#section-1 .headline-1 h3{
}
#section-1 .headline-1 h3 span{
  font-weight: bold;
}
#section-1 .section-1-image{
  width: 100%;
}
#section-1 .section-1-image img{
  width: 100%;
  min-height: 909px;
  height: auto;
  position: absolute;
  top: -50px;
}

#section-2{
  height: 747px;
  background-color: #D05A00;
}
#section-3{
  height: 747px;
  background-color: #F5E6CC;
}
#section-4{
  height: 747px;
  background-color: #272727;
}
#section-5{
  height: 747px;
  background-color: #ECECEC;
}
#section-6{
  height: 747px;
  background-color: #FEFFF8;
}
.footer{
height: 100px;
}
